<div class="container">
    <div class="row">
        <div id="card" class="col-xl-4 offset-xl-4">
            <div class="border border-light p-5 z-depth-5">
                <p class="h4 mb-4 text-center">{{ 'components.login.title' | translate }}</p>
                <input type="text" [(ngModel)]="Login" class="form-control mb-4" placeholder="{{ 'components.login.login' | translate }}">
                <input type="password" [(ngModel)]="Password" class="form-control mb-4" placeholder="{{ 'components.login.password' | translate }}">

                <button (click)="this.UserService.SignIn(this.Login, this.Password)" class="btn btn-info btn-block my-4" type="submit">{{ 'components.login.signinbutton' | translate }}</button>
            </div>
        </div>
    </div>
</div>