<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <p class="h4 mb-4 text-center">{{ 'components.dashboard.title' | translate }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item nav-link">{{ 'components.dashboard.linkedaccounts' | translate }}
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link">+</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- LISTA KONT -->
            
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loading">        
        <div class="spinner-border text-warning" role="status"></div>
    </div>
</ng-template>