<div class="container-fluid">
    <div class="row mt-4">
        <h3 class="text-center">
            {{ 'components.account.components.panel.title' | translate }}
        </h3>
    </div>
    <!-- Followers data -->
    <div class="row mt-4">
        <div class="col-4">
            <div class="px-2 border bg-light text-center">
                <p>
                    {{ 'components.account.components.panel.monthlygain' | translate }}
                </p>
                <p class="fw-bold">
                    {{ this.Account.currentfollowers - this.Account.monthfollowers }}
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="px-2 border bg-light text-center">
                <p>
                    {{ 'components.account.components.panel.dailygain' | translate }}
                </p>
                <p class="fw-bold">
                    {{ this.Account.currentfollowers - this.Account.dayfollowers }}
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="px-2 border bg-light text-center">
                <p>
                    {{ 'components.account.components.panel.currentfollowers' | translate }}
                </p>
                <p class="fw-bold">
                    {{ this.Account.currentfollowers }}
                </p>
            </div>
        </div>
    </div>
    <!-- Top photos -->
    <div class="row mt-4">
        <h3 class="text-center">
            {{ 'components.account.components.panel.topphotos' | translate }}
        </h3>
    </div>
    <div class="row mt-4">
        <app-data-loader [Condition]="( this.AccountQuery.account$ | async ).topphotos != null" [ErrorCondition]="( this.AccountQuery.account$ | async ).topphotos && ( this.AccountQuery.account$ | async ).topphotos.length == 0" ErrorMessage="{{ 'components.account.components.panel.nophotos' | translate }}">
            <div class="row">
                <div *ngFor="let photo of ( this.AccountQuery.account$ | async ).topphotos; let i = index" class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ photo.photo }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">#{{i+1}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>{{ 'components.account.components.panel.comments' | translate }}</b>: {{ photo.comments }}</li>
                            <li class="list-group-item"><b>{{ 'components.account.components.panel.likes' | translate }}</b>: {{ photo.likes }}</li>
                            <li class="list-group-item"><b>{{ 'components.account.components.panel.postedat' | translate }}</b>: {{ ConvertToDate(photo.time) }}</li>
                        </ul>
                        <div class="card-body">
                            <p class="text-wrap">{{ photo.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </app-data-loader>
    </div>
</div>