<div class="container-fluid">
    <div class="row mt-4">
        <h3 class="text-center">
            {{ 'components.account.components.insights.title' | translate }}
        </h3>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <app-data-loader [Data]="this.BusinessAccount">
                <ng-container *ngIf="this.BusinessAccount == true">
                    <div style="display: block">
                        <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                        </canvas>
                    </div>
                </ng-container>
                <ng-container *ngIf="this.BusinessAccount == false">
                    <div class="text-center">        
                        {{ 'components.account.components.insights.notbusiness' | translate }}
                    </div>
                </ng-container>
            </app-data-loader>
        </div>
    </div>
</div>