body
{
    background-image: url( "./assets/background.jpg");
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

footer
{
    color: white;
}

#wrapper
{
    margin: 0 auto;
}

#content
{
    background-color: white;
    color: black;
    padding-bottom: 10px;
}

.loadingfull
{
    display: flex; 
    height: 100vh; 
    width: 100%; 
    align-items: center; 
    justify-content: center;
}

.loading
{
    display: flex; 
    height: 100%; 
    width: 100%; 
    align-items: center; 
    justify-content: center;
}

.logocolor
{
    color: white;
}